@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
}

#navbar-brand-logo {
    height: 2em;
    padding: 0.5em;
}

#main-section {
    display: flex;
    background-color: #110f0f;
    min-height: calc(100vh - 3.5em);
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 3.5em;
}

#landing-page-header {
    font-size: 4em;
}

#landing-page-header,
#landing-page-subheader {
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin: 0.5em;
}

.icons > svg {
    margin: 0.75em;
}

.designer-container {
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter";
}

.designer-row {
    display: flex;
    margin: 1.5em 0em;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    background-color: white !important;
    border-radius: 1.5em;
}

@media (max-width: 480px) and (max-height: 1000px) {
    #landing-page-header {
        font-size: 2.5em;
    }

    #landing-page-subheader {
        font-size: 1.25em;
    }
}
