@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: "Inter", sans-serif;
}

#main-section {
    background: rgba(17, 15, 15, 1);
}

#landing-page-header {
    font-size: 4em;
}

#landing-page-header, #landing-page-subheader {
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.nav-item {
    padding-top: 0.3em;
}