@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: "Lexend", sans-serif;
    background-color: #110f0f;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
    transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#navbar-container {
    position: fixed;
    z-index: 2;
    background-color: #211d1e;
    box-shadow: 0px 1px 5px black;
}

#navbar-container .nav-link {
    padding: 0.5em;
}

#navbar-brand-logo {
    height: 2em;
    padding: 0.5em;
}

.social-media-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 2;
    right: 1.5em;
    bottom: 1.5em;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1.5em;
    box-shadow: 3px 3px rgba(136, 28, 28, 0.75);
}

.social-media-overlay img {
    margin: 0.75em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-header {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: -0.5rem;
    margin: 1.5rem;
    color: white;
    font-size: 3rem;
    border-radius: 1.5em;
    font-family: "Lexend";
}

#loading-spinner {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #211d1e88;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#loading-spinner > div {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
}

.show {
    visibility: visible !important;
}

#loading-spinner {
    opacity: 0;
}

#loading-spinner.show {
    opacity: 1;
}

#home {
    padding-top: 3.5em;
    min-height: 100vh;
}

.home-container {
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lexend";
}

#home-header > img {
    display: flex;
    width: 60vw;
    height: auto;
}

#home-header,
#home-subheader {
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    margin: 0.5em;
}

@media (max-width: 480px) and (max-height: 1000px) {
    #home-header {
        font-size: 2.5em;
    }

    #home-subheader {
        font-size: 1.25em;
    }
}

#about {
    color: white;
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
}

#about .row {
    margin: 0;
}

#technology-poll {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#app-showcase {
    background-color: indigo;
    color: white;
}

#syllabus {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    background: #869791;
    color: #fff;
    font-size: 50px !important;
    margin: 0px;
    cursor: pointer;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0px;
}

.owl-carousel .owl-nav .owl-next {
    right: 0px;
}

#apply {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#apply .form-container {
    color: white;
    background-color: #211d1e;
    min-width: 70vw;
    max-width: 90vw;
    padding: 2rem;
    margin: 0rem 2rem;
    border-radius: 0.5rem;
}

#applyQuestion {
    height: 8em;
    resize: none;
}

#join-us {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#join-us .form-container {
    color: white;
    background-color: #211d1e;
    min-width: 70vw;
    max-width: 90vw;
    padding: 2rem;
    margin: 0rem 2rem;
    border-radius: 0.5rem;
}

#joinQuestion1 {
    height: 5em;
    resize: none;
}

#joinQuestion2 {
    height: 5em;
    resize: none;
}

#lab-suggestion {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#lab-suggestion .form-container {
    color: white;
    background-color: #211d1e;
    min-width: 70vw;
    max-width: 90vw;
    padding: 2rem;
    margin: 0rem 2rem;
    border-radius: 0.5rem;
}

#labSuggestionQuestion {
    height: 8em;
    resize: none;
}

#faqs {
    background-color: gold;
}

#team {
    background-color: #881c1c;
    background-image: url('../svg/Background.svg');
    background-attachment: fixed;
    background-size: cover;
}

.bg-dark {
    background-color: #211d1e !important;
}

.bg-danger {
    background-color: #881c1c !important;
}

#team .card-caption {
    background-color: white;
    color: #211d1e;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
}

#contact {
    background-color: firebrick;
    color: white;
}

.text-medium {
    font-size: 2.5rem;
}

.display-box-dark {
    padding: 0.75rem;
    border-radius: 1rem;
    margin: 0.25rem;
    margin-bottom: 4rem;
}

.technology-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: auto;
    background: #211d1e;
    border: 0;
    padding: 0;
    border-radius: 0.5rem;
}

.technology-icon-container img {
    margin: 1rem;
    width: 100%;
    height: auto;
}

#techPollResults img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 1.5rem;
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.techPollPie canvas {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    margin-bottom: -130px;
}

.techPollPie {
    display: flex;
}

.team-social-icon {
    width: 1.5rem;
    height: auto;
}

.card-img-top {
    width: 12rem;
    height: auto;
}

#team .card {
    background-color: #211d1e !important;
    border-radius: 1rem !important;
    margin: 2rem !important;
}

.details {
    text-align: center !important;
}
.hover-text {
    display: none;
}

.card:hover .hover-text {
    display: block;
}
/* .card:hover .card-img, */
.card:hover .non-hover-text {
    display: none;
}

#team .card:hover {
    background-color: #110f0f !important;
}