.carousel {
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 30px 30px;
}

@media (max-width: 1000px) {
    .carousel {
        padding: 0;
        padding: 30px 0px;
    }
}

#syllabus .card {
    display: flex;
    min-height: 500px;
    min-width: 280px;
    width: auto;
    max-width: 300px;
    background-color: #211d1e;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0px;
    line-height: 25px;
    font-size: 10px;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
}

#syllabus .card:hover {
    transform: translateY(-20px);
}

.week-schedule {
    margin-top: 50px;
    color: #a4152c;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    font-size: 30px;
}

.details {
    font-size: 16px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    line-height: 1.25;
    color: #ebebeb;
    text-align: left;
    margin: 20px;
}

.party {
    font-size: 16px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    line-height: 1.25;
    color: #ebebeb;
    text-align: center;
    margin: 20px;
}

.owl-dots {
    display: none;
    text-align: center;
    margin-top: 40px;
}
.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #000000 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #000000 !important;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    background: #869791;
    color: #fff;
    font-size: 50px !important;
    margin: 0px;
    cursor: pointer;
}

.owl-carousel .owl-nav .owl-prev {
    left: -20px;
}

.owl-carousel .owl-nav .owl-next {
    right: -20px;
}

.carousel-container {
    max-width: 1200px;
    min-width: 320px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 40px;
    padding: 0 40px;
    overflow: hidden;
}

@media (max-width: 499.99px) {
    .carousel-container {
        padding: 0;
    }
}