.carousel {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0 30px;
}

#syllabus .card {
    display: flex;
    min-height: 600px;
    width: auto;
    background-color: #211d1e;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0px;
    line-height: 25px;
    font-size: 10px;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
}

#syllabus .card:hover {
    transform: translateY(-20px);
}

.week-schedule {
    margin-top: 50px;
    color: #a4152c;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    font-size: 30px;
}

.details {
    font-size: 16px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    line-height: 1.25;
    color: #ebebeb;
    text-align: left;
    margin: 20px;
}

.party {
    font-size: 16px;
    font-family: "Lexend", cursive;
    font-stretch: ultra-expanded;
    line-height: 1.25;
    color: #ebebeb;
    text-align: center;
    margin: 20px;
}

.owl-dots {
    display: none;
    text-align: center;
    margin-top: 40px;
}
.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #000000 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #000000 !important;
}
